spring:
  application:
    name: opsflow

  datasource:
    url: jdbc:postgresql://localhost:5432/opsflow
    username: opsflow
    password: opsflow

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: INFO
